<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spiral.bit.dev.simpledecidehelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".other.App"
        android:allowBackup="true"
        android:icon="@drawable/sdh_ava"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sdh_ava"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleDecideHelper">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.SimpleDecideHelper"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ProsConsActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
    </application>

</manifest>